<h1 mat-dialog-title>Create new CompanyDto</h1>
<div mat-dialog-content [formGroup]="companyFormGroup">
  <mat-label>Name</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyNameInput">
  </mat-form-field>

  <mat-label>Address</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyAddressInput">
  </mat-form-field>

  <mat-label>Phone</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyPhoneInput">
  </mat-form-field>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="create()" [mat-dialog-close]="true" cdkFocusInitial>Update</button>
</mat-dialog-actions>
