<mat-card class="form-border card-position" [formGroup]="createFormGroup">
  <mat-card-header>
    <mat-card-title class="cart-title">Create new Sales Check</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-label>Sales check name</mat-label>
    <mat-form-field class="full-line input-text-purple-color">
      <input matInput formControlName="nameInput" required>
    </mat-form-field>

    <mat-label>Purchase date</mat-label>
    <app-date-field class="input-text-purple-color" [dateLabel]="" (newDateEvent)="onPurchaseDateChange($event)" formControlName="purchaseDateInput" required></app-date-field>

    <mat-label>Sales check type</mat-label>
    <mat-form-field appearance="fill" class="full-line">
      <mat-select  formControlName="typeInput" required>
        <mat-option *ngFor="let type of typeKeys"   value="{{types[type]}}">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-label>Sales check images</mat-label>
    <mat-card class="full-line placeholder">PLACEHOLDER</mat-card>
  </mat-card-content>

  <mat-divider></mat-divider> <!-------------------------------------------------------------------------->

  <mat-label class="header">CompanyDto</mat-label>
  <mat-form-field appearance="fill" class="change-company-input" required>
    <mat-select  formControlName="companyIdInput">
      <mat-option *ngFor="let company of companies"   value="{{company.id}}">{{company.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="create-company-button" mat-button (click)="createNewCompany()">Create new CompanyDto</button>

  <mat-label>Name</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyNameInput">
  </mat-form-field>

  <mat-label>Address</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyAddressInput">
  </mat-form-field>

  <mat-label>Phone</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyPhoneInput">
  </mat-form-field>

  <mat-divider></mat-divider> <!-------------------------------------------------------------------------->

  <mat-label class="header">WarrantyDto</mat-label>
  <mat-label>From date</mat-label>
  <app-date-field class="input-text-purple-color" [dateLabel]="" (newDateEvent)="onWarrantyFromDateChange($event)" formControlName="warrantyFromDateInput"></app-date-field>

  <mat-label>To date</mat-label>
  <app-date-field class="input-text-purple-color" [dateLabel]="" (newDateEvent)="onWarrantyToDateChange($event)" formControlName="warrantyToDateInput"></app-date-field>

  <mat-label>Images</mat-label>
  <mat-card class="full-line placeholder">PLACEHOLDER</mat-card>

  <button mat-button  (click)="cancel()">Cancel</button>
  <button mat-button class="create-button" (click)="create()">Create</button>

</mat-card>
