.card-position {
  width: 50%;
  min-height: 400px;
  min-width: 500px;
  padding: 0 16px;
  padding-bottom: 16px;
  margin: 5px;
}

.placeholder{
  margin-bottom: 20px;
  width: auto;
}

.create-button {
  background: #f5f5f5!important;
}

.button-float {
  float: right;
}

.change-company-input {
  padding-bottom: 12px;
  width: 80%;
}

.create-company-button {
  background: #f5f5f5!important;
  margin-left: 5px!important;
  width: 18%;
  min-height: 50px;
  top: -8px;
}

.header {
  display: flex!important;
  flex: 1 0 100%!important;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: large;
  font-weight: 400;
}

::ng-deep .mat-select-value  {
  color: #673ab7!important;
}
