<div *ngIf="authService.isAuthenticated()">
  <app-auth-access></app-auth-access>
</div>

<div *ngIf="!authService.isAuthenticated()">
  <mat-card class="login-form-size">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>perm_identity</mat-icon>
      </div>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="login-form-content-padding">
      <form [formGroup]="loginFormGroup">
        <mat-form-field class="login-field-width">
          <mat-label>Login</mat-label>
          <input matInput formControlName="loginInput" required>
          <mat-error *ngIf="loginFormGroup.get('loginInput').valid">
            Login is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="login-field-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="passwordInput" required>
          <mat-error *ngIf="loginFormGroup.get('passwordInput').valid">
            Password is required
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="signIn()">Sign in</button>
    </mat-card-actions>
  </mat-card>
</div>


