.login-field-width {
  width: 100%;
}

.login-form-size {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.login-form-content-padding {
  padding-right: inherit;
  padding-left: inherit;
}
