<mat-expansion-panel class="card-position" (opened)="panelOpenState = true" (closed)="panelOpenState = false" [formGroup]="cardFormGroup">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon class="icon">accessibility_new</mat-icon>
      {{cardFormGroup.get('nameInput').value}}
    </mat-panel-title>
    <mat-panel-description>
      {{panelOpenState ? '' : cardFormGroup.get('companyNameInput').value}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <button mat-button class="delete-button" (click)="deleteSalesCheck()">Delete</button>

  <mat-label>Sales check id</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="idInput">
  </mat-form-field>

  <mat-label>Sales check name</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="nameInput" (change)="onNameInputChange(cardFormGroup.get('nameInput').value)">
  </mat-form-field>

  <mat-label>Purchase date</mat-label>
  <app-date-field class="input-text-purple-color" [dateLabel]="" (newDateEvent)="onPurchaseDateChange($event)" formControlName="purchaseDateInput"></app-date-field>

  <mat-label>Sales check type</mat-label>
  <mat-form-field appearance="fill" class="full-line">
    <mat-select  formControlName="typeInput" (selectionChange)="onTypeInputChange(cardFormGroup.get('typeInput').value)">
      <mat-option *ngFor="let type of typeKeys"   value="{{types[type]}}">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-label>Sales check images</mat-label>
  <mat-card class="full-line placeholder">PLACEHOLDER</mat-card>

  <mat-divider></mat-divider> <!-------------------------------------------------------------------------->

  <mat-label class="header">CompanyDto</mat-label>
  <mat-form-field appearance="fill" class="change-company-input">
    <mat-select  formControlName="companyIdInput" (selectionChange)="onCompanyIdInputChange(cardFormGroup.get('companyIdInput').value)">
      <mat-option *ngFor="let company of companies"   value="{{company.id}}">{{company.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="change-company-button" mat-button (click)="changeCompanyFields()">Change company fields</button>

  <mat-label>Name</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyNameInput">
  </mat-form-field>

  <mat-label>Address</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyAddressInput">
  </mat-form-field>

  <mat-label>Phone</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyPhoneInput">
  </mat-form-field>

  <mat-divider></mat-divider> <!-------------------------------------------------------------------------->

  <mat-label class="header">WarrantyDto</mat-label>
  <mat-label>From date</mat-label>
  <app-date-field class="input-text-purple-color" [dateLabel]="" (newDateEvent)="onWarrantyFromDateChange($event)" formControlName="warrantyFromDateInput"></app-date-field>

  <mat-label>To date</mat-label>
  <app-date-field class="input-text-purple-color" [dateLabel]="" (newDateEvent)="onWarrantyToDateChange($event)" formControlName="warrantyToDateInput"></app-date-field>

  <mat-label>Images</mat-label>
  <mat-card class="full-line placeholder">PLACEHOLDER</mat-card>

</mat-expansion-panel>
