.card-position {
  min-height: 50px;
  min-width: 450px;
  padding: 0 16px;
  margin: 5px;
}

.icon {
  margin-right: 20px;
}

.placeholder{
  margin-bottom: 20px;
  width: auto;
}

::ng-deep .mat-select-value  {
  color: #673ab7!important;
}

.header {
  display: flex!important;
  flex: 1 0 100%!important;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: large;
  font-weight: 400;
}

.change-company-button {
  background: #f5f5f5!important;
  margin-left: 5px!important;
  width: 18%;
  min-height: 50px;
  top: -8px;
}

.change-company-input {
  padding-bottom: 12px;
  width: 80%;
}

.delete-button {
  float: right;
  background: #f5f5f5!important;
}
