<mat-tab-group>
  <mat-tab label="Sales check management">
      <app-sales-check-filter></app-sales-check-filter>
      <app-sales-check-list></app-sales-check-list>
  </mat-tab>
  <mat-tab label="Apartment management"> Content 2 </mat-tab>
</mat-tab-group>
