<mat-toolbar>
  <mat-icon class="icon-size">view_carousel</mat-icon>
  <span class="header-label">Document Keeper</span>
  <span class="header-spacer"></span>
  <mat-label class="user-name-label">{{username}}</mat-label>
  <button mat-icon-button (click)="accountIcon()">
    <mat-icon>account_box</mat-icon>
  </button>
</mat-toolbar>
