.header-spacer {
  flex: 1 1 auto;
}

.header-label {
  padding: inherit;
  font-size: x-large;
}

.icon-size {
  font-size: xx-large;
  height: 31px;
  width: 31px;
}

.user-name-label {
  font-size: medium;
}
