<mat-card class="form-position form-border" [formGroup]="filterFormGroup">
  <mat-card-header>
    <mat-card-title class="cart-title">Filter</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="full-line">
      <mat-label>Sales check id</mat-label>
      <input matInput placeholder="Ex. 1fe970c8-e5b7-420e-ab7b-178991bd9477" formControlName="idInput">
    </mat-form-field>
    <!-------------------------------------------->
    <mat-form-field class="full-line">
      <mat-label>Sales check name</mat-label>
      <input matInput placeholder="Ex. Winter Adidas boots" formControlName="nameInput">
    </mat-form-field>
    <!-------------------------------------------->
    <mat-form-field appearance="fill" class="full-line">
      <mat-label>Sales check type</mat-label>
      <mat-select formControlName="typeInput">
        <mat-option *ngFor="let type of typeKeys"   value="{{types[type]}}">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-------------------------------------------->
    <mat-form-field class="full-line">
      <mat-label>CompanyDto name</mat-label>
      <input matInput placeholder="Ex. Adidas" formControlName="companyInput">
    </mat-form-field>
    <!-------------------------------------------->
    <app-date-field [dateLabel]="dateFromLabel" (newDateEvent)="addFromDate($event)" formControlName="dateFromInput"></app-date-field>
    <app-date-field [dateLabel]="dateToLabel" (newDateEvent)="addToDate($event)" formControlName="dateToInput"></app-date-field>
  </mat-card-content>

  <mat-card-actions>
    <button class="filter-button" mat-button (click)="filter()">Apply</button>
  </mat-card-actions>
</mat-card>
