.form-position {
  width: 20%;
  min-height: 570px;
  min-width: 300px;
  padding: 0 16px;
  margin: 5px;
  float: left;
}

.filter-button {
  background: #f5f5f5!important;
  margin-left: 5px!important;
}




