.position {
  width: 74.9%;
  min-height: 104px;
  min-width: 500px;
  padding: 0 16px;
  padding-bottom: 16px;
  margin: 5px;
  float: right;
}

.create-button {
  background: #f5f5f5!important;
}


