<mat-card class="form-border position">
  <mat-card-header>
    <mat-card-title class="cart-title">Sales Checks</mat-card-title>
    <button mat-button class="create-button" (click)="createSalesCheck()">Create New</button>
  </mat-card-header>

  <mat-card-content>
    <mat-accordion *ngFor="let salesCheck of filteredSalesChecks" multi>
      <app-sales-check-card [salesCheck]="salesCheck" [companies]="companies"></app-sales-check-card>
    </mat-accordion>
  </mat-card-content>
</mat-card>
