<h1 mat-dialog-title>Change CompanyDto "{{companyFormGroup.get('companyNameInput').value}}"</h1>
<div mat-dialog-content [formGroup]="companyFormGroup">
  <div class="full-line">These changes will be applied for all Sales Checks with the same company. Are you sure?</div>
  <mat-label>Name</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyNameInput">
  </mat-form-field>

  <mat-label>Address</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyAddressInput">
  </mat-form-field>

  <mat-label>Phone</mat-label>
  <mat-form-field class="full-line input-text-purple-color ">
    <input matInput formControlName="companyPhoneInput">
  </mat-form-field>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="update()" [mat-dialog-close]="true" cdkFocusInitial>Update</button>
</mat-dialog-actions>
