<html>
<body><h1>OAuth Approval</h1>
<p>Do you authorize "client-service" to access your protected resources?</p>
<button mat-stroked-button (click)="authorize()">Authorize</button>
<button mat-stroked-button (click)="deny()">Deny</button>
</body>
</html>
