/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-border {
  border: 1px solid #e0e0e0;
}

.cart-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 12px;
  display: inline-block;
}

.full-line {
  padding-bottom: 12px;
  width: 100%;
}

.input-text-purple-color {
  color: #673ab7;
}
