<mat-form-field appearance="fill" [formGroup]="dateForm" class="full-line">
  <mat-label>{{dateLabel}}</mat-label>
  <input matInput formControlName="dateInput" [matDatepicker]="picker" (dateChange)="addNewDate($event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
